@model IEnumerable<Himchistka.Models.DataBase.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Заказы</h1>

<form asp-controller="Orders" asp-action="Index">
    <div class="row">
        <div class="col-6">
            @if (User.IsInRole("admin"))
            {
                <a asp-controller="Orders" asp-action="Create" class="btn btn-primary d-inline-block">
                    Добавить новый заказ
                </a>
            }
        </div>
        <div class="form-group">
            <label>Доставка:</label>
            <select name="Delivery" class="form-control">
                <option value="">Все</option>
                <option value="true">Заказы с доставкой</option>
                <option value="false">Заказы без доставки</option>
                
            </select>
        </div>
        <div class="form-group">
            <label>Тип оплаты:</label>
            <select name="paymentType" class="form-control">
                <option value="">Все</option>
                <option value="Наличные">Наличные</option>
                <option value="Карта">Карта</option>
                <option value="Онлайн">Онлайн</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceptionPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceptionPoint)
            </td>
                <td>
                    @if (item.Delivery == true)
                    {
                        <label>Доставка нужна</label>
                    }
                    else
                    {
                        <label>Доставка не нужна</label>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            
                @if (User.IsInRole("admin"))
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-secondary mx-2"> <i class="bi bi-eye"></i>Детали</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Удалить</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
